body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.icon-cart {
  vertical-align: middle;
}

.icon-chat {
  color: gray;
  vertical-align: middle;
}

.navbar {
  background-color: #fff !important;
}

.navbar a:hover {
  color: #5f0080;
  font-weight: 700;
}

.btn-search {
  margin-bottom: 0;
  color: #5f0080;
  background-color: #fff;
}

.btn-search:hover {
  color: #fff;
  background-color: #5f0080;
  border-color: #5f0080;
}

.btn-search:active {
  background-color: #5f0080 !important;
  color: #fff !important;
  border-color: #5f0080 !important;
}

.subtitle {
  color: gray;
}

.img-scale-box {
  overflow: hidden;
}

.img-scale-box img {
  transition: all 300ms;
}

.img-scale-box img:hover {
  transform: scale(1.1);
}

.price {
  font-size: 20px;
  font-weight: 700;
}

.price-before-discount {
  color: gray;
  text-decoration: line-through;
}

.discount-percent {
  color: orangered;
  font-size: 20px;
  font-weight: 700;
  margin-right: 6px;
}

.number-of-comments {
  color: gray;
}

.section3 .product-item {
  margin-bottom: 20px;
}

.section3 .card-body {
  margin-left: 10px;
}

.section3 .img-box {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px; 
}

.section3 .img-box img {
  width: 100%;
  margin-top: -20px;
}

.section3 .product-item:last-child .img-box img {
  margin-top: -15px;
}


.section3 .img-box:last-child img {
  margin-top: 15px;
}

/* footer */
footer {
  background-color: #5f0080;
  color: #fff;
}

.footer-container {
  padding: 100px;
}

.footer-container a {
  text-decoration: none;
  color: #fff;
}

.footer-container .first-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container .first-line .footer-logo {
  width: 20%;
}

.footer-container .first-line .menus {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.footer-container .second-line {
  display: flex;
  padding-top: 50px;
}

.footer-container .second-line .customer-service {
  width: 70%;
}

.footer-container .second-line .sns-area {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.footer-container .second-line .sns-area a {
  margin-right: 20px;
}

.footer-container .second-line .sns-area a:last-child {
  margin-right: 0;
}

.footer-container .second-line .sns-area img {
  width: 50px;
}

/* 모바일 ------------------------------------- */
@media (max-width: 48rem) {

  .row-carousel {
    display: none;
  }

  .card-item {
    margin-bottom: 20px;
  }

  .section2 .title-box {
    margin-bottom: 30px;
    text-align: center;
  }

  .section3-img {
    margin-bottom: 20px;
  }

  .section3-img img {
    width: 350px;
  }

  .section3 .product-item {
    margin-bottom: 20px;
  }

  .section3 span {
    display: block;
  }

  /* footer */
  .footer-container {
    padding: 80px 20px;
  }

  .footer-container .first-line {
    display: block;
  }

  .footer-container .first-line .footer-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-container .first-line .menus {
    width: 100%;
    display: block;
    text-align: center;
    
  }

  .footer-container .first-line .menus a {
    display: block;
    margin-bottom: 15px;
  }

  .footer-container .second-line {
    display: block;
  }
  
  .footer-container .second-line .customer-service {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }

  .footer-container .second-line .sns-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}